{% assign selected_menu = linklists[section.settings['menu-changer']].links %}

<div class="relative bg-white">
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-center items-center py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:flex-1 truncate">
        <h1 class="text-xl font-bold truncate">{{ section.settings['company-name'] }}</h1>
      </div>

      <nav class="hidden md:flex space-x-10 gap-4">
        {% for link in selected_menu %}
          {% if link.links != blank %}
            <div x-data="{openItem : null}" class="relative">
              <button
                x-on:click="openItem = openItem === {{forloop.index}}? null : {{forloop.index}}"
                type="button"
                class="inline-flex items-center text-base text-gray-500 hover:text-gray-900"
              >
                {{ link.title }}
                <span x-show="openItem !== {{forloop.index}}">{% render 'chevron-down' %}</span>
                <span x-show="openItem === {{forloop.index}}">{% render 'chevron-up' %}</span>
              </button>

              <div class="absolute z-10 -ml-5 mt-5 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2">
                <div class="shadow-lg border ring-black ring-opacity-5 overflow-hidden rounded-lg">
                  <div
                    x-show="openItem === {{forloop.index}}"
                    @click.away="openItem = null"
                    class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8"
                  >
                    {% for childLink in link.links %}
                      <a href="{{childLink.url}}" class="-m-3 p-3 flex items start rounded-lg hover:bg-gray-100">
                        <div class="ml-4">
                          <p class="text-gray-900 text-base font-medium">{{ childLink.title }}</p>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% comment %} ----- Link Without Sublinks ---- {% endcomment %}
          {% else %}
            <div class="relative">
              <a href="{{link.url}}" class="text-base text-gray-500 hover:text-gray-900">{{ link.title }}</a>
            </div>
          {% endif %}
        {% endfor %}
      </nav>

      <div class="hidden md:flex items-center justify-end md:flex-1 space-x-5">
        <a href="{{routes.cart_url}}" class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">
          {% render 'cart' %}
        </a>
        {% if shop.customer_accounts_enabled %}
          <a href="{{routes.account_login_url}}" class="text-base text-gray-500 hover:text-gray-900">Login</a>
          <a href="{{routes.account_register_url}}" class="text-base text-gray-500 hover:text-gray-900">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "company-name",
      "label": "Header",
      "default": "Healing Bird",
      "info": "You can change the company name from here!"
    },
    {
      "type": "link_list",
      "id": "menu-changer",
      "label": "Menu Selector",
      "default": "main-menu",
      "info": "You can change the menu from here!"
    }
  ]
}
{% endschema %}
